<h1>Nouvelle équipe</h1>

<%= form_with model: @team do |form| %>
  <div>
    <%= form.label :name, "Nom"  %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :city, "Ville" %><br>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.submit "Créer" %>
  </div>
<% end %>